@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #2d9c7e;
    --secondary: #ffc900;
  }

  .dark {
    --background: #000000;
    --foreground: #ededed;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md  shadow-black hover:shadow-md  dark:hover:shadow-slate-500
           transition-all duration-200
           hover:scale-105 disabled:hover:scale-100 disabled:hover:shadow-none disabled:hover:cursor-not-allowed;
  }

  .btn-primary {
    @apply btn bg-gradient-to-b from-primary-600 to-primary-700  text-white
           dark:from-primary-400 dark:to-primary-500
           hover:from-primary-500 hover:to-primary-700 
           dark:hover:from-primary-300 dark:hover:to-primary-400
           active:from-primary-600 active:to-primary-800
           dark:active:from-primary-500 dark:active:to-primary-600
           disabled:from-slate-300 disabled:to-slate-400
           disabled:hover:from-slate-400 disabled:hover:to-slate-500;
  }

  .btn-secondary {
    @apply btn bg-gradient-to-b from-secondary-600 to-secondary-700 text-black
           dark:from-secondary-400 dark:to-secondary-500
           hover:from-secondary-500 hover:to-secondary-700 
           dark:hover:from-secondary-300 dark:hover:to-secondary-400
           active:from-secondary-600 active:to-secondary-800
           dark:active:from-secondary-500 dark:active:to-secondary-600
           disabled:from-secondary-300 disabled:to-secondary-400;
  }

  .primary-slider {
    @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer
      dark:bg-gray-700 
      [&::-webkit-slider-thumb]:appearance-none 
      [&::-webkit-slider-thumb]:w-4 
      [&::-webkit-slider-thumb]:h-4 
      [&::-webkit-slider-thumb]:rounded-full 
      [&::-webkit-slider-thumb]:bg-gradient-to-b 
      [&::-webkit-slider-thumb]:from-primary-600 
      [&::-webkit-slider-thumb]:to-primary-700
      dark:[&::-webkit-slider-thumb]:from-primary-400
      dark:[&::-webkit-slider-thumb]:to-primary-500
      [&::-webkit-slider-thumb]:cursor-pointer
      [&::-webkit-slider-thumb]:transition-all
      [&::-moz-range-thumb]:w-4 
      [&::-moz-range-thumb]:h-4 
      [&::-moz-range-thumb]:rounded-full 
      [&::-moz-range-thumb]:border-0
      [&::-moz-range-thumb]:bg-gradient-to-b 
      [&::-moz-range-thumb]:from-primary-600 
      [&::-moz-range-thumb]:to-primary-700
      dark:[&::-moz-range-thumb]:from-primary-400
      dark:[&::-moz-range-thumb]:to-primary-500
      [&::-moz-range-thumb]:cursor-pointer
      [&::-moz-range-thumb]:transition-all;
  }
  .secondary-slider {
    @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer
      dark:bg-gray-700 
      [&::-webkit-slider-thumb]:appearance-none 
      [&::-webkit-slider-thumb]:w-4 
      [&::-webkit-slider-thumb]:h-4 
      [&::-webkit-slider-thumb]:rounded-full 
      [&::-webkit-slider-thumb]:bg-gradient-to-b 
      [&::-webkit-slider-thumb]:from-secondary-600 
      [&::-webkit-slider-thumb]:to-secondary-700
      dark:[&::-webkit-slider-thumb]:from-secondary-400
      dark:[&::-webkit-slider-thumb]:to-secondary-500
      [&::-webkit-slider-thumb]:cursor-pointer
      [&::-webkit-slider-thumb]:transition-all
      [&::-moz-range-thumb]:w-4 
      [&::-moz-range-thumb]:h-4 
      [&::-moz-range-thumb]:rounded-full 
      [&::-moz-range-thumb]:border-0
      [&::-moz-range-thumb]:bg-gradient-to-b 
      [&::-moz-range-thumb]:from-secondary-600 
      [&::-moz-range-thumb]:to-secondary-700
      dark:[&::-moz-range-thumb]:from-secondary-400
      dark:[&::-moz-range-thumb]:to-secondary-500
      [&::-moz-range-thumb]:cursor-pointer
      [&::-moz-range-thumb]:transition-all;
  }
}
